
@media only screen and (min-width: 1000px) {
body
{
overflow: hidden;
background-color: black;
background-image: url("background1.jpeg");
}
.navbar
{
position: fixed;
height: 10%;
width: 100%;
background-color: black;
display: block;
left: 0;
top: 0;
border-bottom: 5px solid #00047D;

}
.navlogo
{
position: relative;
width: 1%;
color: white;
text-decoration: none;
font-size: 1vw;
}
.navbutton
{
position: relative;
background: transparent;
border: none;
left: 55%;
bottom: 5%;
transition: .2s;
border: 1px solid white;
}
.navbutton:hover
{
background-color: #2E2E2E;
transition: .2s;
}
.mainbutton
{
font-size: 5px;
background: transparent;
border: none;
}
.gamebutton
{
position: fixed;
top: 15%;
color: white;
background: none;
border: 2px solid white;
padding: 45px;
z-index: 2;
font-size: 3vw;
}
.indexheader
  {
    position: fixed;
    top: 25%;
  color: white;
    font-size: 3vw;
    width: 40%;
    left: 30%;
  }
.indexcontent
  {
    position: fixed;
    top: 40%;
  color: white;
    font-size: 2vw;
    width: 60%;
    left: 20%;
  }
.sitelist
  {
   position: fixed;
   color: white;
   font-size: 2vw;
   top: 20%;
   left: 45%;
  }
}
@media only screen and (max-width: 980px) 
{
body
{
overflow: hidden;
background-color: black;
background-image: url("background2.jpeg");
}
.navbar
{
position: fixed;
height: 6%;
width: 100%;
background-color: black;
top: 0;
left: 0;
border-bottom: 2px solid #00047D;
}
.navlogo
{
position: relative;
width: 1%;
color: white;
text-decoration: none;
font-size: 1.8vw;
}
.navbutton
{
position: relative;
background: transparent;
border: none;
left: 30%;
bottom: 5%;
transition: .2s;
}
.navbutton:hover
{
background-color: #00047D;
transition: .2s;
}
.mainbutton
{
font-size: 5px;
background: transparent;
border: none;
}
.gamebutton
{
position: fixed;
top: 15%;
color: white;
background: none;
border: 2px solid white;
padding: 45px;
z-index: 2;
font-size: 3vw;
}
.indexheader
  {
    position: fixed;
    top: 25%;
  color: white;
    font-size: 6vw;
    width: 40%;
    left: 30%;
  }
.indexcontent
  {
    position: fixed;
    top: 25%;
  color: white;
    font-size: 4.5vw;
    width: 60%;
    left: 20%;
  }
.sitelist
  {
   position: fixed;
   color: white;
   font-size: 2vw;
   top: 20%;
   left: 45%;
  }
}
